src/main/resources/xsd/good.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="listOfGoods">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Good" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="description"/>
                        <xs:element type="xs:string" name="name"/>
                        <xs:element type="xs:decimal" name="price"/>
                        <xs:element type="xs:int" name="quantity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>