src/main/resources/xsd/shop_request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="shop_request">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:long" name="shop_id"/>
                <xs:element type="xs:long" name="numberOfOrder"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

